<h1> <%= @posts[@post_id].title %> </h1>
<h2>  <%= @posts[@post_id].date %> </h2>
<h2>  <%= @posts[@post_id].author %> </h2>
<h2>  <%= @posts[@post_id].category %> </h2>
<p>  <%= @posts[@post_id].text %> </p>
